<div class="container">
  <section id="content">
    <div class="bg_content_top">
      <div class="general_bg">
       <div class="inner-wrapper">
         <div class="row-fluid">
          <h2> New Project Creation </h2>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>