<div class="container">
 <section id="content">
  <div class="inner-wrapper">
  <div class="about-us">
   <div class="text-center">
      <div class="about">The Volunteer Management App</div>
    </div>
    <div class="divater">
      <div class="line"></div>
      <span><img src="https://s3.amazonaws.com/vms-capstone/deviter.png" alt="divider"></span>
    </div>

    <h2>Why use us?</h2>
    <p> The Volunteer Management System has helped organizations manage over 5 billion volunteer hours. In addition, our system has handled hundreds of thousands of users and events. Our cloud-based approach to volunteer management gives our clients the flexibility and control they need. Our mission is to enable ANYONE to quickly mobilize and coordinate volunteers in their community, congregation and social network. This simple sign up application makes it easy for people to join together and say YES to volunteering. </p>

  </div>
  </div>
</div>
</section>